In [1]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt
import plotly.express as px
from sklearn import preprocessing
from sklearn.preprocessing import RobustScaler
from sklearn.decomposition import PCA
from sklearn import cluster, neighbors, svm, metrics, preprocessing

In [2]:
df = pd.read_csv('BankChurners.csv', delimiter=",")

In [3]:
for column in df.columns:
    df = df[df[column] != "Unknown"]

/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/rafael/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)

In [4]:
df = df.drop(columns=['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])

In [5]:
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,3,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,Existing Customer,54,M,1,High School,Single,$60K - $80K,Blue,34,5,2,0,13940.0,2109,11831.0,0.660,15577,114,0.754,0.151
10121,Existing Customer,56,F,1,Graduate,Single,Less than $40K,Blue,50,4,1,4,3688.0,606,3082.0,0.570,14596,120,0.791,0.164
10122,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10124,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10126,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [6]:
le = preprocessing.LabelEncoder() #transforma atributos qualitativos em quantitativos
for column in df.columns:
    if df[column].dtypes == 'object':
        df[column] = le.fit_transform(df[column])

In [7]:
scaler = preprocessing.MinMaxScaler()
names = df.columns
d = scaler.fit_transform(df)
df_normal = pd.DataFrame(d, columns=names)

In [8]:
pca = PCA(n_components = 10, copy = True) #executando o PCA
X = pca.fit_transform(df_normal)

In [9]:
df_pca = pd.DataFrame(np.transpose(pca.components_))

In [10]:
df_pca

,0,1,2,3,4,5,6,7,8,9
0,-0.000966,-0.656676,0.337127,-0.466755,-0.161265,0.259223,0.027628,-0.011129,0.051497,-0.094926
1,0.000699,0.004211,-0.009222,0.015551,0.002981,-0.042888,-0.011911,0.005488,0.364595,-0.530584
2,0.758996,-0.177437,-0.335027,0.050790,-0.140930,0.058727,0.004018,-0.463694,-0.105638,-0.036409
3,0.023260,0.017337,0.090323,0.047061,0.109453,0.082194,-0.016204,0.200035,-0.806326,-0.511511
4,0.004360,-0.024767,-0.007159,-0.004879,0.037390,-0.171264,0.982801,0.004320,-0.016358,-0.031184
5,0.004223,0.057212,0.153471,0.002896,-0.784049,-0.577591,-0.072616,0.056601,-0.107037,-0.043320
6,-0.354508,0.099831,0.222780,-0.126391,0.166019,-0.202113,-0.038325,-0.836362,-0.140870,-0.091270
7,0.104841,0.048407,0.300938,0.002862,0.203743,-0.204342,-0.047057,0.092880,0.058735,0.142324
8,0.001825,0.006737,-0.009830,0.012655,0.000215,-0.041818,-0.016490,-0.001157,0.391760,-0.597529
9,-0.031084,-0.132898,-0.336664,-0.674282,0.187820,-0.363162,-0.068101,0.135889,-0.081898,0.085516
10,-0.005263,0.050638,-0.036646,0.032634,0.013539,-0.043820,-0.008498,-0.023553,0.035839,-0.051146
11,0.013585,0.071255,-0.095188,0.009034,0.045482,-0.096586,0.009729,-0.013892,0.019222,0.101395
12,0.339251,0.044113,0.351041,-0.017279,0.268491,-0.257357,-0.051665,0.072950,0.045274,-0.005900
13,-0.041590,-0.563801,-0.022121,0.437941,0.242217,-0.361806,-0.081309,0.023480,-0.008046,0.021565
14,0.328175,0.083396,0.338056,-0.048499,0.239660,-0.220268,-0.043586,0.068204,0.043978,-0.007228
15,0.001818,-0.020380,0.000429,-0.013235,0.003229,0.006459,0.001987,-0.005153,-0.001740,0.020026
16,0.035285,-0.056334,0.315245,0.149472,-0.100318,0.171419,0.061042,-0.055940,0.007684,0.150596
17,-0.000031,-0.111109,0.319253,0.047273,-0.143078,0.185414,0.051803,-0.023602,-0.024848,0.117190
18,-0.002250,-0.034443,0.020128,-0.021659,-0.008802,0.013547,0.002100,-0.001965,-0.005408,-0.002667
19,-0.244382,-0.389277,-0.196236,0.292338,0.024377,-0.143818,-0.035869,-0.003667,-0.038525,0.020981

In [11]:
df_normal

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1.0,0.404255,1.0,0.6,0.6,0.5,0.50,0.0,0.604651,0.8,0.166667,0.500000,0.340190,0.308701,0.345116,0.392994,0.036260,0.258065,0.437534,0.061061
1,1.0,0.489362,0.0,1.0,0.4,1.0,1.00,0.0,0.720930,1.0,0.166667,0.333333,0.206112,0.343266,0.214093,0.453636,0.044667,0.185484,1.000000,0.105105
2,1.0,0.531915,1.0,0.6,0.4,0.5,0.75,0.0,0.534884,0.6,0.166667,0.000000,0.059850,0.000000,0.098948,0.763615,0.078753,0.080645,0.628164,0.000000
3,1.0,0.297872,1.0,0.6,1.0,0.5,0.50,0.0,0.186047,0.8,0.166667,0.000000,0.099091,0.000000,0.136557,0.640271,0.017501,0.145161,0.673129,0.000000
4,1.0,0.382979,1.0,0.4,0.4,0.5,0.25,0.0,0.534884,0.4,0.166667,0.333333,0.077747,0.495431,0.079970,0.405063,0.033057,0.112903,0.227787,0.311311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7076,1.0,0.595745,1.0,0.2,0.6,1.0,0.50,0.0,0.488372,0.8,0.333333,0.000000,0.377949,0.837902,0.342711,0.194289,0.861710,0.838710,0.203016,0.151151
7077,1.0,0.638298,0.0,0.2,0.4,1.0,1.00,0.0,0.860465,0.6,0.166667,0.666667,0.068013,0.240763,0.089213,0.167795,0.805605,0.887097,0.212978,0.164164
7078,1.0,0.510638,1.0,0.4,0.4,1.0,0.25,0.0,0.627907,0.4,0.333333,0.500000,0.077536,0.735399,0.062266,0.206947,0.855934,0.862903,0.230749,0.462462
7079,0.0,0.382979,0.0,0.2,0.6,0.5,1.00,0.0,0.534884,0.8,0.500000,0.666667,0.120042,0.000000,0.156637,0.241095,0.559394,0.403226,0.220248,0.000000
7080,0.0,0.361702,0.0,0.4,0.4,0.5,1.00,1.0,0.279070,1.0,0.333333,0.666667,0.270566,0.779102,0.244082,0.206947,0.559565,0.411290,0.174744,0.189189

In [12]:
print(np.cumsum(pca.explained_variance_ratio_))

[0.24987174 0.37752615 0.47088987 0.54669317 0.61354575 0.67876098
 0.73987407 0.79511205 0.84382306 0.88089282]

In [13]:
df_pca['Attrition_Flag'] = df_normal['Attrition_Flag']

In [14]:
df_pca

,0,1,2,3,4,5,6,7,8,9,Attrition_Flag
0,-0.000966,-0.656676,0.337127,-0.466755,-0.161265,0.259223,0.027628,-0.011129,0.051497,-0.094926,1.0
1,0.000699,0.004211,-0.009222,0.015551,0.002981,-0.042888,-0.011911,0.005488,0.364595,-0.530584,1.0
2,0.758996,-0.177437,-0.335027,0.050790,-0.140930,0.058727,0.004018,-0.463694,-0.105638,-0.036409,1.0
3,0.023260,0.017337,0.090323,0.047061,0.109453,0.082194,-0.016204,0.200035,-0.806326,-0.511511,1.0
4,0.004360,-0.024767,-0.007159,-0.004879,0.037390,-0.171264,0.982801,0.004320,-0.016358,-0.031184,1.0
5,0.004223,0.057212,0.153471,0.002896,-0.784049,-0.577591,-0.072616,0.056601,-0.107037,-0.043320,1.0
6,-0.354508,0.099831,0.222780,-0.126391,0.166019,-0.202113,-0.038325,-0.836362,-0.140870,-0.091270,1.0
7,0.104841,0.048407,0.300938,0.002862,0.203743,-0.204342,-0.047057,0.092880,0.058735,0.142324,1.0
8,0.001825,0.006737,-0.009830,0.012655,0.000215,-0.041818,-0.016490,-0.001157,0.391760,-0.597529,1.0
9,-0.031084,-0.132898,-0.336664,-0.674282,0.187820,-0.363162,-0.068101,0.135889,-0.081898,0.085516,1.0
10,-0.005263,0.050638,-0.036646,0.032634,0.013539,-0.043820,-0.008498,-0.023553,0.035839,-0.051146,1.0
11,0.013585,0.071255,-0.095188,0.009034,0.045482,-0.096586,0.009729,-0.013892,0.019222,0.101395,1.0
12,0.339251,0.044113,0.351041,-0.017279,0.268491,-0.257357,-0.051665,0.072950,0.045274,-0.005900,0.0
13,-0.041590,-0.563801,-0.022121,0.437941,0.242217,-0.361806,-0.081309,0.023480,-0.008046,0.021565,1.0
14,0.328175,0.083396,0.338056,-0.048499,0.239660,-0.220268,-0.043586,0.068204,0.043978,-0.007228,1.0
15,0.001818,-0.020380,0.000429,-0.013235,0.003229,0.006459,0.001987,-0.005153,-0.001740,0.020026,1.0
16,0.035285,-0.056334,0.315245,0.149472,-0.100318,0.171419,0.061042,-0.055940,0.007684,0.150596,1.0
17,-0.000031,-0.111109,0.319253,0.047273,-0.143078,0.185414,0.051803,-0.023602,-0.024848,0.117190,1.0
18,-0.002250,-0.034443,0.020128,-0.021659,-0.008802,0.013547,0.002100,-0.001965,-0.005408,-0.002667,1.0
19,-0.244382,-0.389277,-0.196236,0.292338,0.024377,-0.143818,-0.035869,-0.003667,-0.038525,0.020981,1.0

In [15]:
trainSample = df_pca.sample(frac=0.8, random_state = 1) #seleção de 80% da base para treinamento
testSample = pd.concat([df_pca, trainSample]).drop_duplicates(keep=False) #concatena a base original com a base de treinamento e exclui os duplicados, sobrando a amostra de teste

trainTarget = trainSample["Attrition_Flag"] #define o atributo alvo da base para o treinamento
testTarget = testSample["Attrition_Flag"] #define o atributo alvo da base para o teste


del testSample["Attrition_Flag"]
del trainSample["Attrition_Flag"]

In [16]:
knn = neighbors.KNeighborsClassifier(n_neighbors=1, algorithm="auto") #k vizinhos mais próximos = n_neighbors
knn.fit(trainSample.values, trainTarget.values)
resultKNN = knn.predict(testSample.values)

In [17]:
print("\nK-NN")
print("Acurácia: %0.2f" % (metrics.accuracy_score(testTarget, resultKNN)))


matrizConfusao = metrics.confusion_matrix(testTarget, resultKNN)
print("Matriz de Confusão:\n",matrizConfusao)

K-NN
Acurácia: 0.75
Matriz de Confusão:
 [[0 1]
 [0 3]]

In [18]:
resultKNN

array([1., 1., 1., 1.])